option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

  # デフォルトポート80を使いたく無い場合以下の設定を行う。
  # aws:elbv2:listener:default:
  #   DefaultProcess: default
  #   ListenerEnabled: 'false'

  # HTTPSを使う場合以下の設定を行う。
  # aws:elbv2:listener:443:
  #   DefaultProcess: default
  #   ListenerEnabled: 'true'
  #   Protocol: HTTPS
  #   SSLCertificateArns: <ここにACMのARNを設定する>

  # ヘルスチェック用の設定を行う。
  aws:elasticbeanstalk:environment:process:default:
    Port: '80'
    Protocol: HTTP
