files:
  "/tmp/.env"
    mode: "000644"
    owner: "ec2-user"
    group: "ec2-user"
    content: |
      # ここでは環境変数を直接記載しているが、
      # commandsオプションを使ってParameter Storeから環境変数を取得して.envファイルを作成すると更に良い。
      DB_CONNECTION=mysql
      DB_DATABASE=staging-sample
      DB_USERNAME=staging-user
      DB_PASSWORD=staging-passowd
      DB_ROOT_PASSWORD=staging-password
      DB_EXTERNAL_PORT=3306
      DB_PORT=3306